.edit-blog {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .edit-blog h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .edit-blog-form .form-group {
    margin-bottom: 20px;
  }
  
  .edit-blog-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .edit-blog-form input,
  .edit-blog-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .edit-blog-form textarea {
    resize: vertical;
  }
  
  .btn-save {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-save:hover {
    background-color: #0056b3;
  }

  .form-group img {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="file"] {
    padding: 5px;
    font-size: 1rem;
    margin-top: 10px;
  }
  .image-preview img {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .image-preview p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
  }
    